

.chart-holder {
  position: absolute;
  bottom: -100px;
  left: 30px;
  z-index: 1000;
  opacity: 0.9;
  pointer-events: none;
  /*transform: scale(1);*/
  /*zoom: 0.8;*/
  user-select: none;
}


.material.chart-holder {
  top: 0;
  bottom: initial;
}

text {
  font-size: 10px;
}


.title {
  font-size: 1em;
  font-weight: bold;
  display: none;
}

.bar-anim {
  transition: all 0.5s;
  pointer-events: initial;
  cursor: pointer;
  fill: orange;
}

.bar-anim.selected {
  fill: #f44336;
}

.bar-group .name-label {
  text-anchor: end;
  font-weight: bold;
  font-size: 1em;
  fill: #333;
}

.bar-group .value-label {
  text-anchor: start;
  fill: #333;
  font-weight: 900;
  font-size: 1em;
  transition: font-size 0.2s;
}

.container .bar-group {
  transition: all 0.3s;
  font-size: 12px;
}

/* Fade bars when the chart is hovered */
.container:hover .bar-group {
  opacity: 0.7;
}

/* But don't fade the hovered bar... */
.container .bar-group:hover {
  opacity: 1;
}

.container .bar-group:hover .name-label {
  font-weight: 400;
}

.container .bar-group:hover .value-label {
  font-size: 1.2em;
}

.leaflet-control-container {
  display: none;
}